<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353585954823-1d626407ceg1l36gf1eedqagr0pke435.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353585954823-1d626407ceg1l36gf1eedqagr0pke435</string>
	<key>API_KEY</key>
	<string>AIzaSyD5Cz3L05rQs5DNDajbRcRGVX7DAd_AYnU</string>
	<key>GCM_SENDER_ID</key>
	<string>353585954823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.covasity.ios</string>
	<key>PROJECT_ID</key>
	<string>covasity</string>
	<key>STORAGE_BUCKET</key>
	<string>covasity.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353585954823:ios:d19d23019964b67c886aa2</string>
</dict>
</plist>